<div>
  <ul *ngFor="let data of json1.children">
    <li (click) ="spreadChildren()" >
      <b><i class="fas fa-folder"></i>{{data.name}}</b>
      <ul *ngFor="let rel of json1.termsrelation">
        <!-- {{rel.rel}} -->
        <ng-container *ngIf = "rel.rel == data.name">
          <ul *ngFor="let relItems of rel.terms">
            <li><i class="fas fa-folder"></i>
              {{relItems.name}}
            <ng-container *ngIf = "relItems.name == json2.name">
              <ul *ngFor = "let trans of json2.termsrelation">
                <li>{{trans.rel}}</li>
              </ul>
            </ng-container>
            </li>
            
          </ul>
        </ng-container>
    </ul>
    </li>
  </ul>
</div>