<div>
  <ul *ngFor="let data of json1.children">
    <li>
      <b>
        <div class="flex">
        <div class="flex" *ngIf="toShow != data.name;else elseBlock">
          <i class="far fa-plus-square" (click)="myfunc(data.name)"></i>
          <i class="fas fa-folder" (click)="myfunc(data.name)"></i>
        </div>
        <ng-template #elseBlock>
          <div class="flex">
            <i class="far fa-minus-square" (click)="myfunc(data.name)"></i>
            <i class="far fa-folder-open" (click)="myfunc(data.name)"></i>
          </div>
        </ng-template>
        {{data.name}}
      </div>
      </b>
      <app-level1 [children]="data" [flag]="toShow"></app-level1>
    </li>
  </ul>
</div>